.topic {
  text-align: center;
  
  .image-preview {
    animation: fadein 1s ease-out;
    
    @keyframes fadein {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1.0;
      }
    }
  }
}